<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE generatorConfiguration PUBLIC "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN"
        "http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd" >
<generatorConfiguration>

    <context id="Tables" targetRuntime="MyBatis3">
        <property name="autoDelimitKeywords" value="true"/>
        <property name="beginningDelimiter" value="`"/>
        <property name="endingDelimiter" value="`"/>
        <plugin type="top.potens.framework.plugin.OverIsMergeAblePlugin" />

        <!-- 生成的对象可序列化 -->
        <plugin type="org.mybatis.generator.plugins.SerializablePlugin"/>

        <commentGenerator>
            <property name="suppressDate" value="true"/>
            <!-- 去除自动生成的注释  -->
            <property name="suppressAllComments" value="true" />
            <property name="addRemarkComments" value="true"/>
        </commentGenerator>


        <!-- JDBC驱动 -->
        <jdbcConnection driverClass="com.mysql.jdbc.Driver"
                        connectionURL="jdbc:mysql://potens.top:7306/web?useSSL=false"
                        userId="web" password="dsqdq2333#$%">
            <!--设置为 true 可以获取 tables 信息, 解决生成文件缺少 xxxByPrimaryKey 的问题 -->
            <property name="useInformationSchema" value="true"/>

        </jdbcConnection>
        <!-- 类型转换 -->
        <javaTypeResolver type="top.potens.framework.plugin.MyFullyQualifiesJavaTypePlugin">
            <property name="forceBigDecimals" value="true" />
        </javaTypeResolver>

        <!-- 自动生成的Model  必须存在的文件夹，不然无法生成 -->
        <javaModelGenerator targetPackage="top.potens.web.model" targetProject="src/main/java">
            <property name="enableSubPackages" value="true" />
            <property name="trimStrings" value="true" />
        </javaModelGenerator>
        <!-- 自动生成的sqlMapper.xml -->
        <sqlMapGenerator targetPackage="auto" targetProject="src/main/resources/mappings">
            <property name="enableSubPackages" value="true" />
        </sqlMapGenerator>






        <!-- 自动生成的IMapper.java 操作接口 -->
        <javaClientGenerator targetPackage="top.potens.web.dao.db.auto" targetProject="src/main/java"
                             type="XMLMAPPER">
            <property name="enableSubPackages" value="true" />
        </javaClientGenerator>

        <table tableName="user" delimitIdentifiers="true" enableUpdateByPrimaryKey="true" enableDeleteByPrimaryKey="true" enableSelectByPrimaryKey="true" >
            <generatedKey column="user_id" sqlStatement="MySql" identity="true" />
        </table>
        <table tableName="user_auth" delimitIdentifiers="true">
            <generatedKey column="user_auth_id" sqlStatement="MySql" identity="true" />
        </table>
        <table tableName="area" delimitIdentifiers="true">
            <generatedKey column="area_id" sqlStatement="MySql" identity="true" />
        </table>
        <table tableName="content" delimitIdentifiers="true">
            <generatedKey column="content_id" sqlStatement="MySql" identity="true" />
        </table>
        <table tableName="channel" delimitIdentifiers="true">
            <generatedKey column="channel_id" sqlStatement="MySql" identity="true" />
        </table>
        <table tableName="content_comment" delimitIdentifiers="true">
            <generatedKey column="content_comment_id" sqlStatement="MySql" identity="true" />
        </table>
        <table tableName="content_label" delimitIdentifiers="true">
            <generatedKey column="content_label_id" sqlStatement="MySql" identity="true" />
        </table>
        <table tableName="content_news" delimitIdentifiers="true">
            <generatedKey column="content_news_id" sqlStatement="MySql" identity="true" />
        </table>
        <table tableName="content_zone_id" delimitIdentifiers="true">
            <generatedKey column="channel_id" sqlStatement="MySql" identity="true" />
        </table>
        <table tableName="label" delimitIdentifiers="true">
            <generatedKey column="label_id" sqlStatement="MySql" identity="true" />
        </table>
        <table tableName="content_zone" delimitIdentifiers="true">
            <generatedKey column="content_zone_id" sqlStatement="MySql" identity="true" />
        </table>
        <table tableName="album" delimitIdentifiers="true">
            <generatedKey column="album_id" sqlStatement="MySql" identity="true" />
        </table>
        <table tableName="album_content_relation" delimitIdentifiers="true">
            <generatedKey column="album_content_relation_id" sqlStatement="MySql" identity="true" />
        </table>
        <table tableName="content_select" delimitIdentifiers="true">
            <generatedKey column="content_select_id" sqlStatement="MySql" identity="true" />
        </table>
        <table tableName="content_select_option" delimitIdentifiers="true">
            <generatedKey column="content_select_option_id" sqlStatement="MySql" identity="true" />
        </table>
        <table tableName="course_type" delimitIdentifiers="true">
            <generatedKey column="course_type_id" sqlStatement="MySql" identity="true" />
        </table>
        <table tableName="album_course_type_relation" delimitIdentifiers="true">
            <generatedKey column="album_course_type_relation_id" sqlStatement="MySql" identity="true" />
        </table>

    </context>
</generatorConfiguration>
