<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.potens.web.dao.db.ext.ContentNewsExMapper">
  <select id="selectSimpleList" parameterType="top.potens.web.bmo.ContentNewsSelectSimpleListBo" resultType="java.lang.Integer">
    select content_news.content_id
    from content_news
    inner join content on content.content_id = content_news.content_id
    <where>
      <if test="contentId != null">
        and content_news.content_id = #{contentId,jdbcType=INTEGER}
      </if>
      <if test="createTimeStart != null">
        and content_news.create_time &gt;= #{createTimeStart,jdbcType=TIMESTAMP}
      </if>
      <if test="createTimeEnd != null " >
        and content_news.create_time &lt;= #{createTimeEnd,jdbcType=TIMESTAMP}
      </if>
      <if test="updateTimeStart != null ">
        and content_news.update_time &gt;= #{updateTimeStart,jdbcType=TIMESTAMP}
      </if>
      <if test="updateTimeEnd != null ">
        and content_news.update_time &lt;= #{updateTimeEnd,jdbcType=TIMESTAMP}
      </if>
      <if test="publishTimeStart != null ">
        and content_news.publish_time &gt;= #{publishTimeStart,jdbcType=TIMESTAMP}
      </if>
      <if test="updateTimeEnd != null ">
        and content_news.publish_time &lt;= #{publishTimeEnd,jdbcType=TIMESTAMP}
      </if>
      <if test="state != null ">
        and content.state = #{state,jdbcType=INTEGER}
      </if>
    </where>
    <if test="orderBy != null">
      order by ${orderBy}
    </if>
  </select>
</mapper>